
<div class="row mt-3">
    <div class="col-md-10 col-11 p-2 m-2">
        <div class="alert alert-warning" role="alert">
            <h4>價值</h4>
            <p>
                同樣是一塊鐵，如果做成鐵棒，價值五十元；
                若做成馬蹄鐵，可賣五百元；
                如果製成高級鎖，就能賣五千元；
                若是做成高級鐘內的發條，它的價值在五萬以上。
            </p>
            <p>
                一塊鐵，只是形狀改變、用途改變，價值就差別千倍、萬倍以上，這就是所謂產品「使用價值」的高低。
                人也是一樣，彼此之間的成就和收入差距百倍、千倍常有所見，而決定這種價值差異的因素不外乎是：「價值不同」。
            </p>
            <p>
                一位內勤人員，如果同時懂得市場開發，價值可以增加５倍！
            </p>
            <p>
                一位研發人員，如果同時懂得市場開發，價值可以增加５０倍！！
            </p>
            <p>
                一位管理人員，如果同時懂得市場開發，價值就可以增加到５００倍以上！！！
            </p>
        </div>
    </div>
</div>
