<div class="row mt-3">
    <div class="col-md-10 col-11 p-2 m-2">
        <div class="alert alert-warning" role="alert">
            <h4 class="mb-3">充滿</h4>
            <p>
                有一位成功企業家在退休之前，將三個兒子叫到跟前，對他們說：
                「我要在你們三個人之中，找到一個最有生意頭腦的人，來繼承我的事業。現在我各給你們一萬塊錢，誰能拿這筆錢把一間空屋填滿，誰就能贏得我全部的財產。」
            </p>
            <p>
                大兒子買了一堆稻草，將空屋填滿了大半。
            </p>
            <p>
                二兒子買了一大堆綿花，將空屋幾乎填滿。
            </p>
            <p>
                小兒子只花十元，買了一根蠟燭。等到天黑了，他把父親請到空屋來，點燃了蠟燭，說：「爸爸，您看看這屋子還有哪個角落，沒有被這支蠟燭的光照到？」
            </p>
            <p>
                企業家看了非常滿意，就讓小兒子繼承了事業。
            </p>
        </div>
    </div>
</div>
