<div class="row mt-3">
    <div class="col-md-10 col-11 p-2 m-2">
        <div class="alert alert-warning" role="alert">
            <h4>決定</h4>
            <p>
                有一位年輕人問成功企業家：「請問您怎麼會有今天的成就？」
                企業家答說：「只有五個字。」
                年輕人再問：「哪五個字？」
                企業家答說：「正確的決定。」
                年輕人好奇地追問：「您怎麼做出正確的決定？」
                企業家答說：「只有兩個字──經驗。」
                年輕人又問：「如何取得經驗？」
                企業家答說：「只有五個字──錯誤的決定。」
            </p>
            <p>
                不要怕下錯決定，只怕您不下決定 。
                即使下錯決定，別鬱卒！至少賺到經驗；
                只要做對一次決定，恭禧您！將會為您帶來日後的成功。
            </p>
            <p>
                過去已成過去，無法改變
                未來是一塊原木，任您雕塑
                而「現在」，
                就是您手中的那一支雕刻刀
                成品「價值」的高低
                就在於您的想法。
            </p>
        </div>
    </div>
</div>
